{%  extends 'index.html' %}

{% block title %}
Контакты
{% endblock %}

{% block selected %}
<li><a href="{{ url_for('index') }}">Главная</a></li>
<li><a href="{{ url_for('about') }}">О нас</a></li>
<li><a href="{{ url_for('shop') }}">Магазин</a></li>
<li class="selected"><a href="{{ url_for('contact') }}">Контакты</a></li>
{% endblock %}

{% block content %}
<h2>
  Наши контакты:
  <ul> 
    <li>Тел.: 322-233</li>
    <li>Адрес: Наш адрес не дом и не улица)</li>
    <li>E-mail: admin@style.ru</li>
  </ul>
</h2>
<br />
<p>Или напишите нам через форму обратной связи ниже.</p>
<form action="#" method="post">
  <div class="form_settings">
    <p><span>Имя</span><input class="contact" type="text" name="your_name" value="" /></p>
    <p><span>E-mail</span><input class="contact" type="text" name="your_email" value="" /></p>
    <p><span>Сообщение</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea></p>
    <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Отправить" /></p>
  </div>
</form>
{% endblock %}
