{%  extends 'index.html' %}

{% block title %}
Магазин
{% endblock %}

{% block selected %}
<li><a href="{{ url_for('index') }}">Главная</a></li>
<li><a href="{{ url_for('about') }}">О нас</a></li>
<li class="selected"><a href="{{ url_for('shop') }}">Магазин</a></li>
<li><a href="{{ url_for('contact') }}">Контакты</a></li>
{% endblock %}

{% block content %}
<h2>
  В ассортименте:
  <ul> 
    <li><a href="{{ url_for('jackets') }}">Одежда</a></li>
    <li>Обувь</li>
    <li>Аксессуары</li>
  </ul>
<h2p>
{% endblock %}