{% extends "base.html" %}


{% block title %}Задание 3{% endblock title %}

{% block content %}
    <h1>Задание 3</h1>
    <ul>
        <li>Доработаем задача про студентов</li>
        <li>Создать базу данных для хранения информации о студентах и их оценках в учебном заведении.</li>
        <li>База данных должна содержать две таблицы: "Студенты" и "Оценки".</li>
        <li>В таблице "Студенты" должны быть следующие поля: id, имя, фамилия, группа и email.</li>
        <li>В таблице "Оценки" должны быть следующие поля: id, id студента, название предмета и оценка.</li>
        <li>Необходимо создать связь между таблицами "Студенты" и "Оценки".</li>
        <li>Написать функцию-обработчик, которая будет выводить список всех студентов с указанием их оценок.</li>
    </ul>

    <br>
    {% for student in students %}
        <h2>{{ student.name }} {{ student.surname }}</h2>
        <p>Возраст: {{ student.age }}</p>
        <p>Email: {{ student.email }}</p>
        <h5>Оценки:</h5>
        <ul>
            {% for mark in student.marks %}
                <li>{{ mark.subject_name }}: {{ mark.mark }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}