{% extends "base.html" %}


{% block title %}Задание 2{% endblock title %}

{% block content %}
    <h1>Задание 2</h1>
    <ul>
        <li>Создать базу данных для хранения информации о книгах в библиотеке.</li>
        <li>База данных должна содержать две таблицы: "Книги" и "Авторы".</li>
        <li>В таблице "Книги" должны быть следующие поля: id, название, год издания,
            количество экземпляров и id автора.
        </li>
        <li>В таблице "Авторы" должны быть следующие поля: id, имя и фамилия.</li>
        <li>Необходимо создать связь между таблицами "Книги" и "Авторы".</li>
        <li>Написать функцию-обработчик, которая будет выводить список всех книг с
            указанием их авторов.
        </li>
    </ul>
    <br>
    <h3>Список книг:</h3>
    <table>
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Год издания</th>
            <th>Количество экземпляров</th>
            <th>Автор</th>
        </tr>
        {% for book in all_books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.copies }}</td>
                <td>{{ book.author.name }} {{ book.author.surname }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}